#
# Visual Studio
#
.vs/
obj/
bin/

# 
# Temp Files
#
*.tmp

#
# Unity
#
Unity/[Ll]ibrary/
Unity/[Tt]emp/
Unity/*.csproj
Unity/*.sln
*.unitypackage
[Bb]uild/

# GameWork
Unity/Assets/GameWork/**/*.dll
Unity/Assets/GameWork/**/*.mdb
Unity/Assets/GameWork/**/*.mdb.meta
Unity/Assets/GameWork/**/*.pdb
Unity/Assets/GameWork/**/*.pdb.meta